*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #000000a6;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
}

a {
  color: #1890FF;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
