/* scroll beautify start */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
/* scroll beautify end */

.content {
  height: calc(100vh - 64px);
  margin-top: 4px;
  flex-direction: column !important;
  overflow: hidden;
}

.main {
  overflow: hidden;
}
